/* --- Colours --- */
/* --- Colours --- */
/* --------------------------------*/
/* --- Fonts --- */
/* --- Fonts --- */
/* --------------------------------*/
/* --- Media Queries --- */
/* --- Media Querys --- */
* {
  color: #3C4C62;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  font-family: "New Transport";
}

a {
  text-decoration: none;
}

.icon {
  vertical-align: middle;
  margin-top: 25px;
  margin-right: 15px;
  height: 25px;
  width: 25px;
  fill: #3C4C62;
}

.icon--tiny {
  margin: 0;
  height: 18px;
  width: 18px;
}

.site-container {
  padding: 20px;
}
@media (min-width: 768px) {
  .site-container {
    padding: 25px;
  }
}
@media (min-width: 1024px) {
  .site-container {
    width: 900px;
    margin: 0 auto;
  }
}
@media (min-width: 1420px) {
  .site-container {
    width: 1200px;
  }
}

.underlined {
  position: relative;
  color: #fff;
}
.underlined:after {
  content: '';
  position: absolute;
  height: 2px;
  background: #fff;
  bottom: -5px;
  width: 0%;
  left: 0;
  right: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.2s cubic-bezier(0.86, 0, 0.07, 1);
}

/* --- Colours --- */
/* --- Colours --- */
/* --------------------------------*/
/* --- Fonts --- */
/* --- Fonts --- */
/* --------------------------------*/
/* --- Media Queries --- */
/* --- Media Querys --- */
.swipeloader .swipeloader__element {
  animation-duration: .7s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}
.swipeloader .swipeloader__element--slideInRight {
  content: '';
  position: fixed;
  z-index: 8;
  height: 100%;
  right: 0;
  top: 0;
  width: 100%;
  background: #81AFDE;
  animation-name: slideInRight;
}
.swipeloader .swipeloader__element--fadeOut {
  top: 0;
  content: '';
  position: absolute;
  z-index: 7;
  height: 100%;
  width: 100%;
  background: #fff;
  animation-name: fadeOut;
}
.swipeloader.is-exiting .swipeloader__element {
  animation-direction: alternate-reverse;
}

@keyframes slideInRight {
  0% {
    background: #81AFDE;
    left: -100%;
  }
  45% {
    left: 0;
  }
  50% {
    background: #81AFDE;
    right: 0;
    left: auto;
  }
  75% {
    background: #FBC43E;
  }
  100% {
    right: -100%;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.animation-done {
  z-index: 0;
}

.reveal,
.reveal:after {
  animation-iteration-count: 1;
  animation-duration: 600ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.reveal {
  position: relative;
  display: block;
  user-select: none;
  animation-name: reveal;
  white-space: nowrap;
}
.reveal:after {
  content: "";
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #81AFDE;
  transform: scaleX(0);
  transform-origin: 0 50%;
  pointer-events: none;
  animation-name: revealer;
}

@keyframes reveal {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
@keyframes revealer {
  0%, 50% {
    transform-origin: 0 50%;
  }
  60%, 100% {
    transform-origin: 100% 50%;
  }
  50% {
    transform: scaleX(1);
  }
  60% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
@font-face {
  font-family: 'New Transport';
  src: url("/fonts/NewTransport-Bold/NewTransport-Bold.eot");
  src: url("/fonts/NewTransport-Bold/NewTransport-Bold.eot?#iefix") format("embedded-opentype"), local("New Transport Bold"), local("New-Transport-Bold"), url("/fonts/NewTransport-Bold/NewTransport-Bold.woff2") format("woff2"), url("/fonts/NewTransport-Bold/NewTransport-Bold.woff") format("woff"), url("/fonts/NewTransport-Bold/NewTransport-Bold.svg#NewTransport-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}
@font-face {
  font-family: 'New Transport';
  src: url("/fonts/NewTransport-Medium/NewTransport-Medium.eot");
  src: url("/fonts/NewTransport-Medium/NewTransport-Medium.eot?#iefix") format("embedded-opentype"), local("/fonts/NewTransport-Medium/New Transport Medium"), local("/fonts/NewTransport-Medium/New-Transport-Medium"), url("/fonts/NewTransport-Medium/NewTransport-Medium.woff2") format("woff2"), url("/fonts/NewTransport-Medium/NewTransport-Medium.woff") format("woff"), url("/fonts/NewTransport-Medium/NewTransport-Medium.svg#NewTransport-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}
@font-face {
  font-family: 'New Transport';
  src: url("/fonts/NewTransport-Regular/NewTransport-Regular.eot");
  src: url("/fonts/NewTransport-Regular/NewTransport-Regular.eot?#iefix") format("embedded-opentype"), local("New Transport"), local("New-Transport-Regular"), url("/fonts/NewTransport-Regular/NewTransport-Regular.woff2") format("woff2"), url("/fonts/NewTransport-Regular/NewTransport-Regular.woff") format("woff"), url("/fonts/NewTransport-Regular/NewTransport-Regular.svg#NewTransport-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}
/* --- desktop nav --- */
.nav-container {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}
.nav-container a {
  text-decoration: none;
  color: #3C4C62;
  font-weight: 500;
}

.site-nav {
  width: 100%;
  position: fixed;
  background: transparent;
  z-index: 4;
}
@media (min-width: 1024px) {
  .site-nav {
    width: auto;
    position: relative;
  }
}

.site-nav__items {
  padding: 60px 20px 20px 40px;
  background: #fff;
  height: 100vh;
  right: -100%;
  width: 100%;
  position: absolute;
  top: 0px;
  -webkit-transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  /*.current-page{
    position: relative;
    color: $tertiaryColor;
    -webkit-transition: all .4s cubic-bezier(0.77, 0, 0.175, 1);
    transition:         all .4s cubic-bezier(0.77, 0, 0.175, 1);

    &:before{
      content: '';
      background-image: url('/images/shapes/circle-yellow.svg');
      background-size: 12px 12px;
      display: inline-block;
      position: absolute;
      top: 3px;
      left: -20px;
      width: 12px;
      height: 12px;
    }
  }*/
}
.site-nav__items a {
  position: relative;
  right: -100%;
  font-size: 1.4375em;
  color: #3C4C62;
  margin: 17px 0;
  text-decoration: none;
  display: block;
  -webkit-transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}
.site-nav__items a:nth-of-type(1) {
  transition-delay: 0.05s;
}
.site-nav__items a:nth-of-type(2) {
  transition-delay: 0.1s;
}
.site-nav__items a:nth-of-type(3) {
  transition-delay: 0.12s;
}
.site-nav__items a:nth-of-type(4) {
  transition-delay: 0.15s;
}
.site-nav__items .contact-details {
  padding: 60px 20px 60px 40px;
  width: 100%;
  position: absolute;
  bottom: 20px;
  right: 0;
}
.site-nav__items .contact-details a {
  right: 0;
  font-size: inherit;
  display: inline-block;
  font-weight: normal;
}

.slide {
  display: block;
  right: 0 !important;
}

/* --- mobile nav --- */
.mobile-nav {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 30px;
  background: 0 0;
  cursor: pointer;
  border: 0;
}

.mobile-nav.open-nav {
  z-index: 9;
}
.mobile-nav.open-nav .inner .icon-bar {
  background: #3C4C62;
}

.mobile-nav:focus {
  outline: 0;
}

.mobile-nav .inner {
  position: absolute;
  z-index: 9;
  top: 50%;
  right: 0;
  width: 20px;
  height: 18px;
  margin: -9px 0 0 -9px;
}

.mobile-nav .inner .icon-bar {
  position: absolute;
  left: 0;
  width: 20px;
  height: 2px;
  background: #3C4C62;
  transition: all 0.3s ease-in-out;
}

.mobile-nav .inner .icon-bar.top {
  top: 0;
}

.mobile-nav .inner .icon-bar.middle {
  top: 8px;
}

.mobile-nav .inner .icon-bar.bottom {
  bottom: 0;
}

.mobile-nav.open-nav .inner .icon-bar.middle {
  opacity: 0;
}

.mobile-nav.open-nav .inner .icon-bar.top {
  top: 8px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mobile-nav.open-nav .inner .icon-bar.bottom {
  bottom: 8px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.example {
  background: #3C4C62;
  height: 100px;
  width: 100px;
}
@media (min-width: 768px) {
  .example {
    background: #eee;
  }
}

.banner {
  position: relative;
  text-align: center;
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}
.banner h1 {
  width: 100%;
  z-index: 3;
  font-weight: normal;
  font-size: 1.5em;
  font-weight: 500;
  margin: 0;
}

.section {
  margin: 40px 0;
  padding: 15px 0;
  text-align: center;
}
.section .section__title {
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 500;
  margin-top: 0;
}
@media (min-width: 768px) {
  .section .section__title {
    font-size: 1.2em;
  }
}
.section .section__tag {
  display: block;
  margin: 20px 0;
  line-height: 1.6em;
  font-size: 1em;
  color: #bbbbbb;
}

.footer {
  background: #fbfbfb;
}

.footer-item {
  padding: 20px 0;
}
.footer-item a {
  text-decoration: none;
}
.footer-item .contact-link {
  margin: 25px 0;
}
@media (min-width: 768px) {
  .footer-item {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .social-icons .icon {
    margin-top: 35px;
    margin-right: 0;
    margin-left: 18px;
  }
}

.footer-cta {
  cursor: pointer;
  padding: 40px;
  width: 100%;
  height: 225px;
  background: #293342;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
}
.footer-cta .footer-cta__text {
  color: #fff;
  font-size: 1.25em;
  font-weight: 500;
  letter-spacing: 1px;
}
@media (min-width: 1024px) {
  .footer-cta {
    height: 260px;
  }
  .footer-cta .footer-cta__text {
    font-weight: 400;
  }
}
.footer-cta:hover .underlined:after {
  width: 100%;
}

.line-path {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.line-path .line-path__title {
  font-weight: 500;
}
.line-path .line-path__title a {
  text-decoration: none;
}
.line-path:after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 90px;
  top: 30px;
  width: 2px;
  background: #4f6582;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: translate(0%) scaleX(0);
    transform: translate(0%) scaleX(0);
  }
  30% {
    -webkit-transform: translate(0%) scaleX(1);
    transform: translate(0%) scaleX(1);
  }
  80% {
    -webkit-transform: translate(100%) scaleX(0);
    transform: translate(100%) scaleX(0);
  }
  100% {
    -webkit-transform: translate(100%) scaleX(0);
    transform: translate(100%) scaleX(0);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: translate(0%) scaleX(0);
    transform: translate(0%) scaleX(0);
  }
  30% {
    -webkit-transform: translate(0%) scaleX(1);
    transform: translate(0%) scaleX(1);
  }
  80% {
    -webkit-transform: translate(100%) scaleX(0);
    transform: translate(100%) scaleX(0);
  }
  100% {
    -webkit-transform: translate(100%) scaleX(0);
    transform: translate(100%) scaleX(0);
  }
}
.contact-details .contact-link {
  padding-top: 10px;
}
.contact-details .contact-link__title {
  color: #bbbbbb;
  display: inline-block;
  width: 20%;
  max-width: 120px;
  display: inline-block;
}
@media (min-width: 768px) {
  .contact-details {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

.img--centered {
  max-width: 225px;
  margin: 0 auto;
  padding: 15px 0;
}

.btn {
  padding: 10px;
  font-weight: 500;
}
.btn .btn__text {
  font-size: 1em;
  text-decoration: none;
  padding: 5px;
}
.btn .btn__text:after {
  font-weight: bold;
  content: '\2192';
  display: inline-block;
  margin-left: 7px;
}

.btn--light .btn__text {
  font-weight: 400;
  color: #b3bfd0;
}

.pre-loader {
  width: 100%;
  z-index: 7;
  position: fixed;
  height: 100vh;
  background: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}
.pre-loader .dot {
  margin: 0 5px;
  height: 10px;
  width: 10px;
  border-radius: 60px;
  background: white;
  display: inline-block;
  animation: load 2s infinite ease-in-out;
}
.pre-loader .dot--blue {
  background: #81AFDE;
}
.pre-loader .dot--red {
  background: #F48385;
  animation-delay: 0.25s;
}
.pre-loader .dot--yellow {
  background: #FBC43E;
  animation-delay: 0.5s;
}
.pre-loader .dot--green {
  background: #71C273;
  animation-delay: 0.75s;
}

@keyframes load {
  50% {
    transform: translateY(25px);
  }
}
.logo a {
  font-weight: 500;
  text-decoration: none;
}

.logo--large {
  font-size: 1.3125em;
  margin: 25px 0;
  font-weight: 500;
}

.track {
  position: relative;
  margin: 20px 0;
  margin-bottom: 50px;
  padding-bottom: 25px;
}
.track .track__title {
  display: block;
  font-size: 1.125em;
  font-weight: 500;
  margin-bottom: 10px;
}
.track .track__artist {
  font-weight: 500;
  font-size: 0.9375em;
  color: #bbbbbb;
}
.track:after {
  content: '';
  background-image: url("/images/shapes/circle-red.svg");
  background-size: 12px 12px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 12px;
  height: 12px;
}
@media (min-width: 768px) {
  .track {
    position: absolute;
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .track {
    text-align: left;
    padding-left: 25px;
  }
  .track:after {
    top: calc(50% - 18px);
    bottom: auto;
    right: auto;
    margin: auto;
  }
  .track.track--now-playing {
    padding-left: 28px;
  }
  .track.track--now-playing:after {
    bottom: auto;
    top: 5px;
  }
}

.track-container {
  position: relative;
  width: 100%;
}
@media (min-width: 768px) {
  .track-container {
    height: 350px;
    margin: 35px 0;
  }
}
@media (min-width: 1024px) {
  .track-container {
    height: 275px;
  }
}
@media (min-width: 1420px) {
  .track-container {
    width: 70%;
    margin: 0 auto;
  }
}

.track--blue:after {
  background-image: url("/images/shapes/circle-blue.svg");
}
@media (min-width: 768px) {
  .track--blue {
    top: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .track--blue {
    top: 25px;
    left: 0;
    right: auto;
    margin: 0;
  }
}

.track--yellow:after {
  background-image: url("/images/shapes/circle-yellow.svg");
}
@media (min-width: 768px) {
  .track--yellow {
    top: calc(50% - 35px);
    left: 25px;
  }
}
@media (min-width: 1024px) {
  .track--yellow {
    top: 0;
    left: auto;
    right: 250px;
    margin: 0;
  }
}

.track--red:after {
  background-image: url("/images/shapes/circle-red.svg");
}
@media (min-width: 768px) {
  .track--red {
    top: calc(50% - 35px);
    right: 25px;
  }
}
@media (min-width: 1024px) {
  .track--red {
    right: 0;
  }
}

.track--green:after {
  background-image: url("/images/shapes/circle-green.svg");
}
@media (min-width: 768px) {
  .track--green {
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 25px;
  }
}
@media (min-width: 1024px) {
  .track--green {
    left: 250px;
    right: auto;
    margin: 0;
    bottom: 25px;
  }
}

.track--now-playing:after {
  content: '';
  background-image: url("/images/shapes/note.svg") !important;
  background-size: 22px 22px;
  width: 22px;
  height: 22px;
  bottom: -8px;
  -webkit-animation-name: Floating;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}

.shape-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

.shape-wrapper--header {
  position: relative;
  left: 0;
  right: 0;
  height: 25%;
  max-height: 160px;
  width: 100%;
  max-width: 500px;
  padding: 15px;
}
.shape-wrapper--header .shape:nth-of-type(1) {
  bottom: 35%;
  left: 8%;
}
.shape-wrapper--header .shape:nth-of-type(2) {
  top: 15%;
  left: 15%;
  animation-delay: 2s;
}
.shape-wrapper--header .shape:nth-of-type(3) {
  bottom: 20%;
  left: 25%;
}
.shape-wrapper--header .shape:nth-of-type(4) {
  bottom: 60%;
  left: 35%;
}
.shape-wrapper--header .shape:nth-of-type(5) {
  bottom: 90%;
  left: 34%;
  animation-delay: 2s;
}
.shape-wrapper--header .shape:nth-of-type(6) {
  bottom: 28%;
  left: 43%;
}
.shape-wrapper--header .shape:nth-of-type(7) {
  top: 25%;
  left: 55%;
  animation-delay: 2s;
}
.shape-wrapper--header .shape:nth-of-type(8) {
  bottom: 30%;
  right: 31%;
}
.shape-wrapper--header .shape:nth-of-type(9) {
  top: 3%;
  right: 30%;
  animation-delay: 2s;
}
.shape-wrapper--header .shape:nth-of-type(10) {
  top: 29%;
  right: 17%;
}
.shape-wrapper--header .shape:nth-of-type(11) {
  bottom: 30%;
  right: 12%;
  animation-delay: 2s;
}
@media (min-width: 768px) {
  .shape-wrapper--header {
    margin: 0 auto;
  }
}

.shape {
  display: inline-block;
  position: absolute;
  height: 14px;
  width: 14px;
  -webkit-animation-name: Floating;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floating {
  from {
    -webkit-transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 8px);
  }
  to {
    -webkit-transform: translate(0, 0px);
  }
}
.work-container {
  padding: 0 5px;
}
@media (min-width: 768px) {
  .work-container {
    padding: 0 50px;
  }
}
@media (min-width: 1024px) {
  .work-container {
    padding: 0;
  }
}

.work-tile {
  margin: 10px 0;
  position: relative;
  width: 100%;
  height: 55vw;
  background: #fff;
  padding: 15px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}
.work-tile:after {
  content: '';
  position: absolute;
  width: 55%;
  height: 100%;
  top: 0;
  right: 0;
  background: #FBC43E;
}
.work-tile .shape-wrapper {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
}
.work-tile .work-tile__img {
  position: relative;
  z-index: 1;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}
.work-tile .work-tile__img img {
  position: absolute;
  right: 0;
  height: 90%;
}
.work-tile .work-tile__title {
  position: absolute;
  left: 15px;
  bottom: 15px;
  margin: 0;
  font-size: 1.1875em;
  font-weight: 500;
}
.work-tile .btn {
  padding: 0;
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 3;
}
.work-tile .btn a {
  font-size: 0.9375em;
  font-weight: 400;
  color: #fff;
  padding: 0;
}
.work-tile:nth-of-type(2n) {
  margin-top: 90px;
}
@media (min-width: 1024px) {
  .work-tile:nth-of-type(2n) {
    margin-top: 150px;
  }
}
@media (min-width: 1024px) {
  .work-tile .btn {
    bottom: 25px;
    right: 25px;
  }
  .work-tile .work-tile__title {
    bottom: 25px;
    left: 25px;
    font-size: 1.3125em;
  }
  .work-tile.work-tile--feature:before {
    left: 25px;
    top: 25px;
  }
}
@media (min-width: 768px) {
  .work-tile {
    height: 48vw;
  }
}
@media (min-width: 1420px) {
  .work-tile {
    height: 550px;
    width: 87%;
    margin: 0 auto;
  }
}

.work-tile--feature:before {
  content: '';
  z-index: 2;
  background-size: 19px 19px;
  height: 19px;
  width: 19px;
  background-image: url("/images/shapes/heart.svg");
  position: absolute;
  left: 15px;
  top: 15px;
}
.work-tile--feature:hover .shape {
  -webkit-animation-name: Floating;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}

.work-tile--blue:after {
  background: #81AFDE;
}
.work-tile--blue .shape-wrapper .shape {
  animation: none;
}
.work-tile--blue .shape-wrapper .shape:nth-of-type(1) {
  top: 0;
  margin-top: -35px;
  right: 50px;
}
.work-tile--blue .shape-wrapper .shape:nth-of-type(2) {
  top: 0;
  margin-top: -40px;
  right: 10px;
}
.work-tile--blue .shape-wrapper .shape:nth-of-type(3) {
  top: 30px;
  right: -4px;
}
.work-tile--blue .shape-wrapper .shape:nth-of-type(4) {
  bottom: 0px;
  margin-bottom: -11px;
  left: -10px;
}
.work-tile--blue .shape-wrapper .shape:nth-of-type(5) {
  bottom: 0px;
  margin-bottom: -2px;
  left: 40px;
}

.work-tile--yellow .shape-wrapper .shape {
  animation: none;
}
.work-tile--yellow .shape-wrapper .shape:nth-of-type(1) {
  top: 0;
  margin-top: -45px;
  right: 30px;
}
.work-tile--yellow .shape-wrapper .shape:nth-of-type(2) {
  top: 30;
  right: -4px;
}
.work-tile--yellow .shape-wrapper .shape:nth-of-type(3) {
  bottom: 45px;
  left: -31px;
}
.work-tile--yellow .shape-wrapper .shape:nth-of-type(4) {
  bottom: 0px;
  margin-bottom: -11px;
  left: 10px;
}
.work-tile--yellow .shape-wrapper .shape:nth-of-type(5) {
  bottom: 0px;
  margin-bottom: -2px;
  left: 90px;
}
