.banner{
  position: relative;
  text-align: center;
  height: 100vh;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);

  h1{
    width: 100%;
    z-index: 3;
    font-weight: normal;
    font-size: em(26);
    font-weight: 400;
    margin: 0;
  }
}

.banner--small{
  height: 325px;
  padding-top: 70px;

  .shape-container{
    padding-top: 70px;
  }

  h1{
    line-height: 1.4em;
  }
}

.banner--medium{
  height: 425px;
  padding-top: 70px;

  .shape-container{
    padding-top: 70px;
  }
}

.img-full{
  margin-bottom: 25px;
  height: 275px;
  background: url('/images/banners/about-banner.png');
  background-position: 50% 50%;
  background-size: cover;

  @media #{$laptop}{
    height: 325px;
  }

  @media #{$desktop}{
    height: 400px;
  }
}
